/* Home.css */

.container-fluid {
    background-size: cover;
    height: 100vh;
}

.text-container {
    width: 100%;
    padding: 4rem;
}

.display-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    /* Add styles for the upper part of the container */
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    z-index: 2;
}

.lead-text{
    font-size: 1.25rem;
    /* Add styles for the lower part of the container */
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
}

/*  to style the button */

.play-now {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    font-weight: bold;
    border-radius: 1rem;
    margin-right: 3rem;
}

.learn-btn {
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    background: #150973;
    color: white;
    cursor: pointer;
}

.play-now:hover {
    background-color: #3943cf;
    color: gray;
  }
.learn-btn:hover {
    background-color: #151c80;
    color: gray;
  }

.lead-text {
    font-size: 1.25rem;
}

.slider-container {
    position: relative;
    width: 90%;
    height: 60%;
    padding-bottom: 5%;
    user-select: none;
}

.slider-image {
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

.arrow-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}

.arrow-button {
    font-size: 1.5rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.arrow-button:hover {
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    /* Adjusted to be at the bottom */
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 2%;
    /* Adjusted padding */
}

.dot {
    font-size: 1.5rem;
    /* Adjusted size */
    cursor: pointer;
    margin: 0 1%;
    transition: color 0.3s ease-in-out;
}

.dot.active {
    color: white;
}

.here-container {
    width: 100%;
    height: 70%;
}