
.navbar {
  position: relative;
}

.navbar img {
  margin-left: 4rem;
  margin-right: 8rem;
  display: block;
}

.navbar-toggler {
  margin-right: 2rem;
  padding: 6px;
}

.nav-item {
  margin-left: 2rem;
}
@media (max-width: 767.98px) {
  .navbar img {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
  }

  .navbar-toggler {
    position: absolute;
    top: 1rem;
    left: 50%; /* Center the toggler horizontally */
    transform: translateX(-50%); /* Center the toggler horizontally */
    padding: 5px;
    margin-right: 15px; /* Add margin to the right */
  }
}

.navbar-brand {
  text-align: center;
}

.navbar-nav {
  text-align: center;
}
/* here those two buttons to be in the left side */
.buttons-holder{
  padding-right: 6rem;
  padding-left: 7rem;
  justify-content: center;
}

.bnt-account {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  margin-right: 2rem;
  background-color: #150973;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  border: none; 
}

.bnt-account:hover {
  background-color: #3943cf;
}


.bnt-play{
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.bnt-play:hover{
  background-color: #ffde59;
  border: none;
}
.nav-item {
  display: inline-block;
  color: red;
}

.nav-item a:hover {
  color: #ffc107; /* Change text color on hover */
}
